@import "variables";
@import "mixins";

html, body {
    font-size: 100%;
    font-family: 'Public Sans', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-image: linear-gradient(to top right, $lightBlue, rgb(144, 144, 223));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
  
    &.noscroll {
        overflow: hidden;
    }
}
.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.content {
    flex: 1
}
.flex {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up (large) {
        display: none;
    }
}

.hide {
    display: none;
}

